apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: paralelas-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: your-domain.example.com
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: analysis-service
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dashboard
                port:
                  number: 8501
